$green: #00965e;
$green-link: #085f40;
$grey-button: #ebebec;

$icon-space: 20px;

$bullet: "https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png";

$more-info: "https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/icon-more-info.png";