@import "variables";
@import "abstraction/breakpoints";
@import "abstraction/helpers";

a:hover,
a:focus {
	color:#008559;
	
}

body {
	padding-bottom:8px;
	
}

.content {
	background-color:#fafafa;
	/*margin-top:20px;*/
	padding:1em;
	border:1px solid #e5e9ef;
	border-top:0;
}

blockquote {
	font-size: 12pt;
	font-weight: bold;
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

@import "components/row";
@import "components/columns";
@import "components/visual-header";
@import "components/button";
@import "components/topic";
@import "components/usp-list";