@import "variables";
@import "abstraction/breakpoints";
@import "abstraction/helpers";

a:hover,
a:focus {
	color:#008559;
	
}

body {
	padding-bottom:8px;
	
}

/*	.bg-silver{background:#eeeeee;padding:20px;border-radius:3px;margin:10px 0 20px 0}
	.bg-silver h2{margin-top:0}*/
	
/*	bullet: https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png*/

.content {
	background-color:white;
	margin-top:20px;
	padding:20px;
	border:1px solid #e5e9ef;
	
}

blockquote {
	font-size: 12pt;
	font-weight: bold;
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
    width: 100%;
}

@import "components/visual-header";
@import "components/button";
@import "components/topic";