@import "variables";
@import "abstraction/breakpoints";
@import "abstraction/helpers";

a {
	text-decoration: underline;
	color:$green-link;
}

a:hover,
a:focus {
	color:$green-link;
}

body {
	padding-bottom:8px;
	
}

.primaryContent {
	max-width: 880px;
	@include small {
		margin-top:20px;
	}
	@include medium {
		margin-top:40px;
	}
}

.content {
	background-color:#fafafa;
	padding:1em;
	border:1px solid #e5e9ef;
	border-top:0;
	@include small {
		padding:1em 15px;
	}
	@include medium {
		padding:1em 30px;
	}
}

blockquote {
	font-size: 12pt;
	font-weight: bold;
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

@import "components/row";
@import "components/columns";
@import "components/visual-header";
@import "components/button";
@import "components/topic";
@import "components/usp-list";
@import "components/cta-lower";
@import "components/more-info";