/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* line 1, ../../src/stylesheets/abstraction/_helpers.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 6, ../../src/stylesheets/abstraction/_helpers.scss */
.align-right {
  width: 100%;
  display: block;
  text-align: right;
}

/* line 5, ../../src/stylesheets/main.scss */
a:hover,
a:focus {
  color: #008559;
}

/* line 11, ../../src/stylesheets/main.scss */
body {
  padding-bottom: 8px;
}

/*	.bg-silver{background:#eeeeee;padding:20px;border-radius:3px;margin:10px 0 20px 0}
	.bg-silver h2{margin-top:0}*/
/*	bullet: https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png*/
/* line 21, ../../src/stylesheets/main.scss */
.content {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e5e9ef;
}

/* line 29, ../../src/stylesheets/main.scss */
blockquote {
  font-size: 12pt;
  font-weight: bold;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

/* line 1, ../../src/stylesheets/components/_visual-header.scss */
.visual-header {
  margin-bottom: 3em;
  color: white;
}
/* line 7, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta {
  position: relative;
  background-color: #00965e;
  top: -5px;
  width: 100%;
  padding: 15px;
}
@media (min-width: 992px) {
  /* line 7, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta {
    position: absolute;
    bottom: 0;
    top: initial;
    right: 30px;
    padding: 30px;
    width: 50%;
  }
}
/* line 24, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta h1 {
  position: initial;
  padding: 0 0 1em 0;
  text-transform: uppercase;
  box-shadow: initial;
  background-color: initial;
}
/* line 32, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta p#header-txt {
  margin-bottom: 1em;
}
/* line 36, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta .tel {
  padding: 12px 12px;
  display: inline-block;
  margin-bottom: 0;
}

/* line 1, ../../src/stylesheets/components/_button.scss */
.btn-default {
  color: white;
  background-color: #009966;
  border: 0;
  padding: 10px 12px 10px 12px;
  margin-bottom: 10px;
}
/* line 8, ../../src/stylesheets/components/_button.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .btn-default.dropdown-toggle {
  background-color: #008578;
  border-color: #008578;
  color: white;
}
/* line 17, ../../src/stylesheets/components/_button.scss */
.visual-header .btn-default {
  margin: 0;
}

/* line 22, ../../src/stylesheets/components/_button.scss */
.btn.white {
  background-color: white;
  border: 0;
  color: black;
  text-transform: uppercase;
  float: left;
  font-weight: bold;
}

/* line 1, ../../src/stylesheets/components/_topic.scss */
.topic {
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #e5e9ef;
  border-left: 1px solid #e5e9ef;
  border-bottom: 1px solid #e5e9ef;
  min-height: 180px;
  box-sizing: border-box;
}
/* line 10, ../../src/stylesheets/components/_topic.scss */
.topic:first-child {
  border: 1px solid #e5e9ef;
}
/* line 14, ../../src/stylesheets/components/_topic.scss */
.topic img {
  width: 100%;
}
/* line 18, ../../src/stylesheets/components/_topic.scss */
.topic h2 {
  /*padding: 0 1em 0.5em;*/
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 25, ../../src/stylesheets/components/_topic.scss */
.topic:last-child {
  border-right: 1px solid #e5e9ef;
}
/* line 29, ../../src/stylesheets/components/_topic.scss */
.topic.active, .topic:hover {
  border: 1px solid transparent;
  background-color: initial;
}
/* line 33, ../../src/stylesheets/components/_topic.scss */
.topic.active img,
.topic.active h2, .topic:hover img,
.topic:hover h2 {
  opacity: 1;
}
/* line 40, ../../src/stylesheets/components/_topic.scss */
.topic img,
.topic h2 {
  opacity: 0.5;
}
