/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.nopadding {
  padding: 0;
  margin: 0;
}

.align-right {
  width: 100%;
  display: block;
  text-align: right;
}

@media (min-width: 768px) {
  .sm-align-right {
    width: 100%;
    display: block;
    text-align: right;
  }
}

@font-face {
  font-family: "BNPSansCondensed";
  src: url("https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.eot");
  src: url("https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.eot?#iefix") format("embedded-opentype"), url("https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.woff") format("woff"), url("https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.ttf") format("truetype"), url("https://www.hellobank.be/fonts/messagent/bnpp-sans-cond-v2.svg#BnppSans-r") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  text-decoration: underline;
  color: #085f40;
}

a:hover,
a:focus {
  color: #085f40;
}

.tel {
  display: inline-block;
  margin-bottom: 0;
  color: white;
}
@media (max-width: 380px) {
  .tel {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  .tel {
    padding: 11px 0 0 12px;
  }
}
@media (min-width: 992px) {
  .tel {
    padding: 11px 12px;
  }
}

.primaryContent {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .primaryContent {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .primaryContent {
    margin: 40px 0;
  }
}

.container {
  min-width: 300px;
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

.content {
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid #e5e9ef;
  font-size: 12px;
  display: inline-block;
}
@media (min-width: 768px) {
  .content {
    padding: 40px 15px;
    border-top: 0;
  }
}
@media (min-width: 992px) {
  .content {
    padding: 40px 30px;
  }
}

blockquote {
  font-family: "BNPSansCondensed";
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  blockquote {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .primaryContent div[class^="col-"] {
    /*display: inline-block;*/
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .primaryContent div[class^="col-"] {
    display: inline;
  }
}

.visual-header {
  margin-bottom: 10px;
  color: white;
  display: inline-block;
}
@media (max-width: 767px) {
  .visual-header {
    margin-bottom: 10px !important;
  }
}
@media (min-width: 768px) {
  .visual-header {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .visual-header {
    margin-bottom: 34px;
  }
}
.visual-header img {
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .visual-header img {
    display: none;
  }
}
.visual-header #header-cta {
  position: relative;
  background-color: #00965e;
  top: -5px;
  padding: 15px;
  height: auto;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .visual-header #header-cta {
    position: absolute;
    bottom: 0;
    top: auto;
    right: 30px;
    padding: 20px;
    border-radius: 0;
  }
}
@media (min-width: 992px) {
  .visual-header #header-cta {
    padding: 30px;
  }
}
.visual-header #header-cta h1 {
  font-family: "BNPSansCondensed";
  font-size: 32px;
  line-height: 32px;
  position: static !important;
  padding: 0 0 5px 0;
  background-color: #00965e;
  text-transform: uppercase;
  box-shadow: none;
  background-color: initial;
}
@media (min-width: 768px) {
  .visual-header #header-cta h1 {
    padding: 0 0 10px 0;
  }
}
@media (min-width: 768px) {
  .visual-header #header-cta p#header-txt {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .visual-header #header-cta p#header-txt {
    margin-bottom: 20px;
  }
}
.visual-header #header-cta .tel {
  padding: 11px 0 0 12px;
  display: inline-block;
  margin-bottom: 0;
}
@media (max-width: 380px) {
  .visual-header #header-cta .tel {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 15px 0 0 0;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  .visual-header #header-cta .tel {
    padding: 11px 0 0 12px;
  }
}
@media (min-width: 992px) {
  .visual-header #header-cta .tel {
    padding: 11px 12px;
  }
}

.btn-default {
  color: white;
  background-color: #009966;
  border: 0;
  padding: 12px 12px 10px 12px;
  margin-bottom: 10px;
  text-decoration: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .btn-default.dropdown-toggle {
  background-color: #008578;
  border-color: #008578;
  color: white;
}
.visual-header .btn-default {
  margin: 0;
  float: left;
}
@media (max-width: 380px) {
  .visual-header .btn-default {
    float: none;
  }
}

.btn {
  font-family: "BNPSansCondensed";
  font-size: 16px;
  line-height: 16px;
  /*font-weight:bold;*/
  text-transform: uppercase;
  border: 0;
}
@media (max-width: 380px) {
  .btn {
    float: none;
    display: block;
  }
}
.btn.white {
  background-color: white;
  color: black;
}
.btn.white:hover {
  background-color: #d3d3d3;
}
.btn.grey {
  background-color: #ebebec;
  color: black;
}
.btn.grey:hover {
  background-color: #d3d3d3;
}

.topics {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .topics {
    margin-bottom: 0;
  }
}

.topic {
  box-sizing: border-box;
  border: 1px solid #e5e9ef;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom: 1px solid transparent;
}
.topic:first-child, .topic:last-child {
  border-left: 1px solid #e5e9ef;
  border-right: 1px solid #e5e9ef;
}
.topic:last-child {
  border-bottom: 1px solid #e5e9ef;
}
.topic.active {
  border-bottom: 1px solid transparent;
}
.topic.active a {
  color: #00965e;
}
.topic.active:after {
  background-color: #fafafa;
}
.topic.active:last-child {
  border-bottom: 1px solid #e5e9ef;
}
.topic a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: "BNPSansCondensed";
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  color: #5f5f5f;
  z-index: 5;
  position: relative;
}
@media (min-width: 768px) {
  .topic a {
    height: 100%;
    padding: 111px 0 0 0;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .topic a {
    padding: 139px 0 0 0;
    font-size: 27px;
    line-height: 35px;
  }
}
@media (min-width: 768px) {
  .topic {
    height: 160px;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
  }
  .topic:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 228px 106px;
    background-position: top center;
    background-repeat: no-repeat;
    content: "";
    z-index: 0;
    opacity: 0.5;
  }
  .topic.active {
    border-bottom: 1px solid #fafafa;
  }
  .topic.active:after {
    opacity: 1;
  }
  .topic.active:last-child {
    border-bottom: 1px solid #fafafa;
  }
  .topic.topic-1:after {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-1.png");
  }
  .topic.topic-2:after {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-2.png");
  }
  .topic.topic-3:after {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-3.png");
  }
}
@media (min-width: 992px) {
  .topic {
    height: 218px;
  }
  .topic:after {
    background-size: 293px 136px;
  }
}

/*	bullet: https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png*/
ul.usp-list {
  padding: 0;
  list-style-type: none;
  /*margin-bottom: 2em;*/
}
ul.usp-list li {
  background: url("https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png") no-repeat top left;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 12px;
}

.cta-lower {
  margin-bottom: 40px;
}
.cta-lower .btn {
  margin-bottom: 20px;
}
.cta-lower .btn.last {
  margin-left: 15px;
}
@media (max-width: 390px) {
  .cta-lower .btn.last {
    margin-left: 0;
  }
}
.cta-lower .tel {
  color: black;
}

a.more-info {
  background: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/icon-more-info.png") no-repeat top 1px left;
  padding-left: 20px;
  display: inline-block;
  font-size: 12px;
  width: 100%;
  margin-bottom: 40px;
}
