/*$text-title-height: 12pt;*/
/*$text-smaller-height: 12pt;*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* line 1, ../../src/stylesheets/abstraction/_helpers.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 6, ../../src/stylesheets/abstraction/_helpers.scss */
.align-right {
  width: 100%;
  display: block;
  text-align: right;
}

/* line 5, ../../src/stylesheets/main.scss */
a {
  text-decoration: underline;
  color: #085f40;
}

/* line 10, ../../src/stylesheets/main.scss */
a:hover,
a:focus {
  color: #085f40;
}

/* line 15, ../../src/stylesheets/main.scss */
p:last-of-type {
  margin-bottom: 0;
}

/* line 19, ../../src/stylesheets/main.scss */
body {
  padding-bottom: 8px;
}

/* line 24, ../../src/stylesheets/main.scss */
.primaryContent {
  max-width: 880px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  /* line 24, ../../src/stylesheets/main.scss */
  .primaryContent {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  /* line 24, ../../src/stylesheets/main.scss */
  .primaryContent {
    margin: 40px 0;
  }
}

@media (min-width: 768px) {
  /* line 36, ../../src/stylesheets/main.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 36, ../../src/stylesheets/main.scss */
  .container {
    width: 880px;
  }
}

/* line 45, ../../src/stylesheets/main.scss */
.content {
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid #e5e9ef;
  border-top: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  /* line 45, ../../src/stylesheets/main.scss */
  .content {
    padding: 20px 15px;
  }
}
@media (min-width: 992px) {
  /* line 45, ../../src/stylesheets/main.scss */
  .content {
    padding: 40px 30px;
  }
}

/* line 59, ../../src/stylesheets/main.scss */
blockquote {
  font-size: 12pt;
  font-weight: bold;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 1, ../../src/stylesheets/components/_row.scss */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 2, ../../src/stylesheets/components/_columns.scss */
.primaryContent div[class^="col"] {
  display: inline;
}

/* line 1, ../../src/stylesheets/components/_visual-header.scss */
.visual-header {
  margin-bottom: 10px;
  color: white;
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 1, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  /* line 1, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header {
    margin-bottom: 40px;
  }
}
/* line 18, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta {
  position: relative;
  background-color: #00965e;
  top: -5px;
  padding: 15px;
  height: auto;
}
@media (min-width: 768px) {
  /* line 18, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta {
    position: absolute;
    bottom: 0;
    top: auto;
    right: 30px;
    padding: 10px;
    width: 50%;
  }
}
@media (min-width: 992px) {
  /* line 18, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta {
    padding: 30px;
  }
}
/* line 38, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta h1 {
  position: static !important;
  padding: 0 0 1em 0;
  background-color: #00965e;
  text-transform: uppercase;
  box-shadow: none;
  background-color: initial;
}
@media (min-width: 768px) {
  /* line 38, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta h1 {
    padding: 0 0 0.5em 0;
  }
}
@media (min-width: 768px) {
  /* line 50, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta p#header-txt {
    margin-bottom: 0.5em;
  }
}
@media (min-width: 992px) {
  /* line 50, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta p#header-txt {
    margin-bottom: 1em;
  }
}
/* line 60, ../../src/stylesheets/components/_visual-header.scss */
.visual-header #header-cta .tel {
  padding: 12px 12px;
  display: inline-block;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  /* line 60, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta .tel {
    padding: 5px 0 0 0;
  }
}
@media (min-width: 992px) {
  /* line 60, ../../src/stylesheets/components/_visual-header.scss */
  .visual-header #header-cta .tel {
    padding: 12px 12px;
  }
}

/* line 1, ../../src/stylesheets/components/_button.scss */
.btn-default {
  color: white;
  background-color: #009966;
  border: 0;
  padding: 10px 12px 10px 12px;
  margin-bottom: 10px;
  text-decoration: none;
}
/* line 9, ../../src/stylesheets/components/_button.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .btn-default.dropdown-toggle {
  background-color: #008578;
  border-color: #008578;
  color: white;
}
/* line 18, ../../src/stylesheets/components/_button.scss */
.visual-header .btn-default {
  margin: 0;
  float: left;
}

/* line 24, ../../src/stylesheets/components/_button.scss */
.btn {
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
}
/* line 28, ../../src/stylesheets/components/_button.scss */
.btn.white {
  background-color: white;
  color: black;
}
/* line 31, ../../src/stylesheets/components/_button.scss */
.btn.white:hover {
  background-color: #d3d3d3;
}
/* line 35, ../../src/stylesheets/components/_button.scss */
.btn.grey {
  background-color: #ebebec;
  color: black;
}
/* line 38, ../../src/stylesheets/components/_button.scss */
.btn.grey:hover {
  background-color: #d3d3d3;
}

/* line 1, ../../src/stylesheets/components/_topic.scss */
.topic {
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #e5e9ef;
  border-bottom: 1px solid #e5e9ef;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  background: none;
  /*	
  	div {
  	    background: url(img_flwr.gif);
  	    background-size: 80px 60px;
  	    background-repeat: no-repeat;
  	    background-position: center;
  	}
  }*/
}
/* line 14, ../../src/stylesheets/components/_topic.scss */
.topic:first-child, .topic:last-child {
  border-left: 1px solid #e5e9ef;
  border-right: 1px solid #e5e9ef;
}
/* line 20, ../../src/stylesheets/components/_topic.scss */
.topic.active, .topic:hover {
  background-color: #fafafa;
}
/* line 23, ../../src/stylesheets/components/_topic.scss */
.topic.active img,
.topic.active h2, .topic:hover img,
.topic:hover h2 {
  opacity: 1;
}
/* line 29, ../../src/stylesheets/components/_topic.scss */
.topic.active {
  border-bottom: 1px solid transparent;
}
/* line 31, ../../src/stylesheets/components/_topic.scss */
.topic.active h2 {
  color: #5f5f5f;
}
/* line 36, ../../src/stylesheets/components/_topic.scss */
.topic a {
  height: 100%;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}
/* line 43, ../../src/stylesheets/components/_topic.scss */
.topic img {
  width: 100%;
}
/* line 47, ../../src/stylesheets/components/_topic.scss */
.topic h2 {
  padding: 0;
  text-align: center;
  color: #5f5f5f;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 47, ../../src/stylesheets/components/_topic.scss */
  .topic h2 {
    margin: 112px 0 0 0;
  }
}
@media (min-width: 992px) {
  /* line 47, ../../src/stylesheets/components/_topic.scss */
  .topic h2 {
    margin: 140px 0 0 0;
  }
}
/* line 60, ../../src/stylesheets/components/_topic.scss */
.topic img,
.topic h2 {
  opacity: 0.5;
}
/* line 65, ../../src/stylesheets/components/_topic.scss */
.topic.topic-1, .topic.topic-2, .topic.topic-3 {
  background-image: none;
}
@media (min-width: 768px) {
  /* line 65, ../../src/stylesheets/components/_topic.scss */
  .topic.topic-1, .topic.topic-2, .topic.topic-3 {
    height: 160px;
    background-size: 228px 106px;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) {
  /* line 65, ../../src/stylesheets/components/_topic.scss */
  .topic.topic-1, .topic.topic-2, .topic.topic-3 {
    background-size: 293px 136px;
    height: 218px;
  }
}
/* line 92, ../../src/stylesheets/components/_topic.scss */
.topic.topic-1 {
  background-image: none;
}
@media (min-width: 768px) {
  /* line 92, ../../src/stylesheets/components/_topic.scss */
  .topic.topic-1 {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-1.png");
  }
}
@media (min-width: 768px) {
  /* line 99, ../../src/stylesheets/components/_topic.scss */
  .topic.topic-2 {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-2.png");
  }
}
@media (min-width: 768px) {
  /* line 105, ../../src/stylesheets/components/_topic.scss */
  .topic.topic-3 {
    background-image: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/topic-3.png");
  }
}

/*	bullet: https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png*/
/* line 3, ../../src/stylesheets/components/_usp-list.scss */
ul.usp-list {
  padding: 0;
  list-style-type: none;
  /*margin-bottom: 2em;*/
}
/* line 7, ../../src/stylesheets/components/_usp-list.scss */
ul.usp-list li {
  background: url("https://static.bnpparibasfortis.be/Images/images/Icons/bullet_green.png") no-repeat top 2px left;
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 12px;
}

/* line 1, ../../src/stylesheets/components/_cta-lower.scss */
.cta-lower {
  margin-bottom: 40px;
}
/* line 3, ../../src/stylesheets/components/_cta-lower.scss */
.cta-lower .btn {
  margin-bottom: 20px;
}
/* line 5, ../../src/stylesheets/components/_cta-lower.scss */
.cta-lower .btn.last {
  margin-left: 15px;
}

/* line 1, ../../src/stylesheets/components/_more-info.scss */
a.more-info {
  background: url("https://static.bnpparibasfortis.be/Images/campaigns/2015/201509_car_insurance/icon-more-info.png") no-repeat top 2px left;
  padding-left: 20px;
  display: inline-block;
  font-size: 12px;
  width: 100%;
  margin-bottom: 40px;
}
