.btn-default {
	color:white;
	background-color:#009966;
	border:0;
	padding: 12px 12px 10px 12px;
	margin-bottom:10px;
	text-decoration: none;
	
	&:hover,
	&:focus,
	&:active,
	&.active,
	.open &.dropdown-toggle {
		background-color:#008578;
		border-color:#008578;
		color:white;
	}
	.visual-header & {
		margin: 0;
		float: left;
		@include max-bp(380px){
			float:none;
		}
	}
}

.btn{
	font-family: "BNPSansCondensed";
	font-size: 16px;
	line-height: 16px;
	/*font-weight:bold;*/
	text-transform: uppercase;
	border: 0;
	@include max-bp(380px) {
		float: none;
  		display: block;
	}
	&.white {
		background-color: white;
		color: black;
		&:hover {
			background-color: #d3d3d3;
		}
	}
	&.grey {
		background-color: $grey-button;
		color: black;
		&:hover {
			background-color: #d3d3d3;
		}
	}
}
