.topics {
	margin-bottom: 20px;
	
	@include small {
		margin-bottom:0	;
	}
}

.topic {
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e5e9ef;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 1px solid transparent;
	background: none;
	
	@include small {
		border-top: 1px solid #e5e9ef;
		border-bottom: 1px solid #e5e9ef;
	}
	
	@include medium {
		
	}
	
	&:first-child,
	&:last-child {
		border-left: 1px solid #e5e9ef;
		border-right: 1px solid #e5e9ef;
	}
	
	&:last-child {
		border-bottom: 1px solid #e5e9ef;
	}
	
	&.active,
	&:hover {
		background-color: #fafafa;
		img {
			opacity: 1;
		}
	}
	
	&.active {
		border-bottom: 1px solid transparent;
		a {
			color: $green;
		}
	}
	
	a {
	    display: inline-block;
	    text-decoration: none;
	    width: 100%;
	    box-sizing: border-box;
	    text-align: center;
	    font-family: "BNPSansCondensed";
		font-size: 20px;
		line-height: 20px;
		padding: 10px 0;
		color: $grey-title-topic;
		
	    @include small {
	    	height: 100%;
			padding: 112px 0 0 0;
			font-size: 20px;
			line-height: 20px;
		}
		
		@include medium {
			padding: 140px 0 0 0;
			font-size: 24px;
			line-height: 34px;
		}
	}
	
	img {
		width: 100%;
	}
	
	img {
		opacity: 0.5;	
	}
	
	&.topic-1,
	&.topic-2,
	&.topic-3 {
		background-image: none;
		
		@include small {
			height: 160px;
			background-size: 228px 106px;
			background-position: top center;
			background-repeat: no-repeat;
		}
		
		@include medium {
			background-size: 293px 136px;
			height: 218px;
		}
	}
	
	&.topic-1 {
		@include small {
			background-image: url($img-topic-1);
		}
	}
	
	&.topic-2 {
		@include small {
			background-image: url($img-topic-2);
		}
	}
	
	&.topic-3 {
		@include small {
			background-image: url($img-topic-3);
		}
	}
}