.topic {
	box-sizing: border-box;
	background-color: #fff;
    border-top: 1px solid #e5e9ef;
	border-bottom: 1px solid #e5e9ef;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	background: none;
	
	
	&:first-child,
	&:last-child {
		border-left: 1px solid #e5e9ef;
		border-right: 1px solid #e5e9ef;
	}
	
	&.active,
	&:hover {
		background-color: #fafafa;
		img,
		h2 {
			opacity: 1;
		}
	}
	
	&.active {
		border-bottom: 1px solid transparent;
		h2 {
			color: $grey-title-topic;
		}
	}
	
	a {
		height: 100%;
	    display: inline-block;
	    text-decoration: none;
	    width: 100%;
	}
	
	img {
		width: 100%;
	}
	
	h2 {
		padding: 0;
		text-align: center;
		color: $grey-title-topic;
		text-decoration: none;
		@include small {
			margin: 112px 0 0 0;
		}
		@include medium {
			margin: 140px 0 0 0;
		}
	}
	
	img,
	h2 {
		opacity: 0.5;	
	}
	
	&.topic-1,
	&.topic-2,
	&.topic-3 {
		background-image: none;
		
		@include small {
			height: 160px;
			background-size: 228px 106px;
			background-position: top center;
			background-repeat: no-repeat;
		}
		
		@include medium {
			background-size: 293px 136px;
			height: 218px;
		}
	}
	
/*	
	div {
	    background: url(img_flwr.gif);
	    background-size: 80px 60px;
	    background-repeat: no-repeat;
	    background-position: center;
	}
}*/
	
	&.topic-1 {
		background-image: none;
		@include small {
			background-image: url($img-topic-1);
		}
	}
	
	&.topic-2 {
		@include small {
			background-image: url($img-topic-2);
		}
	}
	
	&.topic-3 {
		@include small {
			background-image: url($img-topic-3);
		}
	}
	
}



