.visual-header {
	margin-bottom: 3em;
	color: white;
	
	img {
		
	}
	
	#header-cta {
		position: relative;
		background-color: $green;
		top: -5px;
		padding: 15px;
		
		@include small {
			position: absolute;
			bottom: 0;
			top: initial;
			right: 30px;
			padding: 10px;
			width: 50%;
		}
		
		@include medium {
			padding: 30px;
		}
		
		h1 {
			position: initial;
			padding: 0 0 1em 0;
			text-transform: uppercase;
			box-shadow: initial;
			background-color: initial;
			@include small {
				padding: 0 0 0.5em 0;
			}
		}
		
		p#header-txt {
			@include small {
				margin-bottom: 0.5em;
			}
			
			@include medium {
				margin-bottom: 1em;
			}
		}
		
		.tel {
			padding: 12px 12px;
			display: inline-block;
			margin-bottom: 0;
			@include small {
				padding:5px 0 0 0;
			}
			
			@include medium {
				padding: 12px 12px;
			}
		}
	}
}